.cards {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
  font-size:38px;
  font-weight: bold;
}

h2 {
  font-size:26px;
  text-align: center;
}
p {
  text-align: center;
}
.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}
.cards__container :hover{
  text-decoration: none;
}
.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}
.cards__item__link:hover{
  text-decoration:none;
}
.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__location {
  padding: 0px 30px 30px;
  font-size:16px;
  color: black;
}

.cards__item__text {
  color: #252e48;
  font-size: 20px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

.line {
  border-bottom: 1px solid rgba(0,0,0,0.25);
  padding: 0 40px;
  float: center;
}

.cards__raise__info {
  padding: 20px 30px 0px;
}

.cards__raise__text {
  color: #616c8f;
  font-size: 16px;
  line-height: 24px;
}

.cards__raise__percent {
  margin-top: 5px;
  color: #000000;
  font-size: 24px;
  line-height: 24px;
}

.cards__item__desc {
  padding-top: 5px;
  color: #6a6a70;
  font-size: 14px;
  line-height: 24px;
}

.fund-button {
  background-color: #005487; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}

.fas fa-map-marker-alt {
  font-size: 8px;
}

.blck-line{
  border:none;
  border-bottom:2px solid black;
}